# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media
staticfiles/

# Virtual environment
django_env/
venv/
ENV/
env/

# VS Code
.vscode/

# Environment files
.env

# Packaging
*.egg-info/
pip-wheel-metadata/

# Test / cache
.pytest_cache/

# OS files
.DS_Store
Thumbs.db

# Ignore compiled distributions
dist/
build/

# Backup files
*~
*.bak
